*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Delius", cursive;
    font-size: 16px;
    scroll-behavior: smooth;
}

:root{
    --backgroud-color: #433878;
    --background-color-light: #F8F7F4;
    --font-color: #E4B1F0;
}

body{
    background-color: var(--background-color-light);
}

/* header */
.header-box{
    /* border: 2px solid red; */
    /* width: 60%; */
    height: 45vh;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: end;
}

.header-box .header-title{
    /* border: 2px solid blue; */
    /* margin: 150px 0 0 0; */
}

.header-box .header-title .title-desc{
    /* border: 2px solid brown; */
    text-align: center;
    font-size: 50px;
}

.header-box .header-title .title-head{
    /* border: 2px solid brown; */
    text-align: center;
    font-weight: bolder;
    font-size: 150px;
}

.header-box .nav-container{
    /* border: 2px solid red;*/
    /* width: 200px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    position: fixed;
    top: 75px;
    right: 75px;
    z-index: 10;
}

.login-button button{
    border: none;
    background: none;

    background-color: var(--font-color);
    color: var(--backgroud-color);
    font-size: 25px;
    font-weight: bolder;
    padding: 3px 15px;
    border-radius: 20px;

    cursor: pointer;
}

.header-box .nav-container .nav-hamburger{
    /* border: 2px solid cyan; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-hamburger button{
    border: none;
    background: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.nav-hamburger button span{
    color: var(--font-color);
    font-size: 35px;
}

/* navbar -  replace it with hamburger and a toggle darkmode button */

.header-box .navbar{
    /* border: 2px solid greenyellow; */
    
    margin: 50px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-box .navbar .nav-items{
    /* border: 2px solid purple; */
    list-style: none;
    
    display: flex;
    gap: 100px;
}
.header-box .navbar .mode-log-box{
    /* border: 2px solid purple; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box .navbar .mode-log-box .mode-button{
    /* border: 2px solid purple; */
    padding: 0 20px;
    max-width: 100px;
}
.header-box .navbar .mode-log-box .log-box{
    /* border: 2px solid purple; */
    padding: 0 50px;
    max-width: 200px;
}

/* Main section */
.main-box {
    /* border: 2px solid red; */

}

/* ----------------------------------------------------------- */
.main-box .floating-arrow{
    position: absolute;
    left: 50%;
    bottom: -350px;

    transform: translateX(-50%);
    cursor: pointer;
    animation: floatUpDown 2s ease-in-out infinite;

}

@keyframes floatUpDown {
  0% { transform: translate(-80%, 0); }
  50% { transform: translate(-80%, -10px); }
}

.main-box .floating-arrow a{
    text-decoration: none;
    width: 100px;
    height: 100px;
}
.main-box .floating-arrow a img{
    width: 50px;
    height: 100px;
}

/* ----------------------------------------------------------- */

/* wave animations */
.main-box .wave-container{
    border: 2px solid var(--background-color-light);

    /* overflow: hidden; */
    position: relative;
}

.main-box .wave-container img{
    /* border: 2px solid lawngreen; */

    display: block;
    position: absolute;
    width: 100%;
    height: 70vh;
    top: -100px;
    z-index: -1;
}

.main-box .main-course-container{
    /* border: 2px solid lawngreen; */
    background-color: var(--backgroud-color);

    margin: 58vh 0 0 0;
    padding: 0 0 100px 0;
    height: auto;
}

.main-box .course-box-head{
    /* border: 2px solid blue; */

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.main-box .course-box-head .course-head-heading{
    /* border: 2px solid brown; */

    font-size: 20px;
    color: var(--font-color);
}
.main-box .course-box-head .course-head-desc{
    /* border: 2px solid brown; */

    font-size: 40px;
    font-weight: bolder;
    color: var(--font-color);
}

.main-box .course-content-box{
    text-decoration: none;
    /* border: 2px solid pink; */
    margin: auto;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* course card styling */
.main-box .course-content-box .course-card{
    border: 2px solid var(--font-color);
    height: 426px;
    width: 368px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    
    border-radius: 20px;
}

.course-card .course-card-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-card .course-card-thumb img{
    width: 100%;
}
.course-card .course-card-head{
    /* border: 2px solid brown; */
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--font-color);
}
.course-card .course-card-desc{
    /* border: 2px solid cyan; */
    text-align: justify;
    padding: 20px 30px;
    color: var(--font-color);
}




/* our partners styles */
.main-box .main-partner-container .partner-head{
    /* border: 2px solid blue; */

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
}
.main-box .main-partner-container .partner-head-heading{
    /* border: 2px solid brown; */

    font-size: 20px;
    color: var(--backgroud-color);
}
.main-box .main-partner-container .partner-head-desc{
    /* border: 2px solid brown; */

    font-size: 40px;
    font-weight: bolder;
    color: var(--backgroud-color);
}

.partners {
    /* background: #f8f7f4; */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 0;
    overflow: auto;
}

.partners img {
    height: 100px;
    margin: 0 20px;
    vertical-align: middle;
}



/* Footer section */
.footer-box{
    background-color: var(--backgroud-color);
    /* border: 2px solid red; */
}

.footer-box .foot-container{
    /* border: 2px solid pink; */
    height: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-box .foot-container .foot-left-box{
    /* border: 2px solid green; */
    /* border-right: 2px dashed var(--background-color-light); */
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box .foot-container .foot-left-box img{
    width: 150px;
}
.footer-box .foot-container .foot-right-box{
    /* border: 2px solid green; */
    height: 100%;
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-box .foot-container .foot-right-box ul{
    /* border: 2px solid blue; */
    width: max-content;
    color: var(--font-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.footer-box .foot-container .foot-right-box li{
    list-style: none;
}
.footer-box .foot-container .foot-right-box li a{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

.footer-box .foot-bottom{
    text-align: center;
    /* border: 2px solid blue; */
    /* border-top: 2px dashed var(--background-color-light); */
    color: var(--font-color);

    font-size: 20px;
    font-weight: bold;
}
.footer-box .foot-bottom a{
    text-decoration: none;
    color: inherit;
    font-style: italic;
    font-size: 20px;
}



/* ---------------------------------------------------- */
/* User Sign in styles starts */

.main-container{
    background-color: var(--background-color-light);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .signin-box{
    /* border: 2px solid red; */

    width: 700px;
    height: 700px;
    padding: 15px;
    border-radius: 20px;

    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.main-container .signin-box .signinbox-head{
    /* border: 2px solid blue; */

    height: 12vh;
    display: flex;
    align-items: center;
}
.main-container .signin-box .signinbox-head h1{
    font-size: 45px;
    color: var(--backgroud-color);
}

.main-container .signin-box .signinbox-body{
    /* border: 2px solid black; */

    height: auto;
}
.main-container .signin-box .signinbox-body form {
    /* border: 2px solid pink; */
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}

/*  */
.signinbox-body .signup-choose{
    /* border: 2px solid blue; */

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.signinbox-body .signup-choose h4{
    font-weight: lighter;
    /* border: 2px solid pink; */
    width: max-content;
}
.signinbox-body .signup-choose a{
    text-decoration: none;
    /* border: 2px solid pink; */
    font-style: italic;
    text-decoration: underline;
    color: var(--backgroud-color);
}

.signinbox-body .admin-choose{
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.signinbox-body .admin-choose h4{
    font-weight: lighter;
    /* border: 2px solid pink; */
    width: max-content;
}
.signinbox-body .admin-choose a{
    text-decoration: none;
    /* border: 2px solid pink; */
    font-style: italic;
    text-decoration: underline;
    color: var(--backgroud-color);
}


/* User Sign up styles starts */
.main-container .signup-box{
    /* border: 2px solid red; */

    width: 700px;
    height: 700px;
    padding: 15px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.main-container .signup-box .signupbox-head{
    /* border: 2px solid blue; */

    height: 12vh;
    display: flex;
    align-items: center;
}
.main-container .signup-box .signupbox-head h1{
    font-size: 45px;
    color: var(--backgroud-color);
}

.main-container .signup-box .signupbox-body{
    /* border: 2px solid black; */

    height: auto;
}
.main-container .signup-box .signupbox-body form {
    /* border: 2px solid pink; */
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}

form label{
    position: relative;
    top: 20px;
    left: 10px;

    width: max-content;
    background-color: white;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--background-color-light);
}

/* Submit button */
form button {
    background: #433878;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 35px 0;
}

form button:hover {
    background: #5a4b9c;
}


.signupbox-body .signin-choose{
    /* border: 2px solid blue; */

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.signupbox-body .signin-choose h4{
    font-weight: lighter;
    /* border: 2px solid pink; */
    width: max-content;
}
.signupbox-body .signin-choose a{
    text-decoration: none;
    /* border: 2px solid pink; */
    font-style: italic;
    text-decoration: underline;
    color: var(--backgroud-color);
}

.signupbox-body .admin-choose{
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.signupbox-body .admin-choose h4{
    font-weight: lighter;
    /* border: 2px solid pink; */
    width: max-content;
}
.signupbox-body .admin-choose a{
    text-decoration: none;
    /* border: 2px solid pink; */
    font-style: italic;
    text-decoration: underline;
    color: var(--backgroud-color);
}



/* Admin Sign in styles starts */
.main-container .adminsignin-box{
    /* border: 2px solid red; */

    width: 700px;
    height: 700px;
    padding: 15px;
    border-radius: 20px;

    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);   
}
.main-container .adminsignin-box .adminsigninbox-head{
    /* border: 2px solid blue; */

    height: 12vh;
    display: flex;
    align-items: center;
}
.main-container .adminsignin-box .adminsigninbox-head h1{
    font-size: 45px;
    color: var(--backgroud-color);
}

.main-container .adminsignin-box .adminsigninbox-body{
    /* border: 2px solid black; */

    height: auto;
}
.main-container .adminsignin-box .adminsigninbox-body form {
    /* border: 2px solid pink; */
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}

/*  */
.adminsigninbox-body .user-choose{
    /* border: 2px solid blue; */

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.adminsigninbox-body .user-choose h4{
    font-weight: lighter;
    /* border: 2px solid pink; */
    width: max-content;
}
.adminsigninbox-body .user-choose a{
    text-decoration: none;
    /* border: 2px solid pink; */
    font-style: italic;
    text-decoration: underline;
    color: var(--backgroud-color);
}

.adminsigninbox-body .user-choose{
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.adminsigninbox-body .user-choose h4{
    font-weight: lighter;
    /* border: 2px solid pink; */
    width: max-content;
}
.adminsigninbox-body .user-choose a{
    text-decoration: none;
    /* border: 2px solid pink; */
    font-style: italic;
    text-decoration: underline;
    color: var(--backgroud-color);
}


/* -------------------------------------------------- */
div.course-card{
    transition: transform 0.1s linear;
}
div.course-card:hover{
    transform: scale(1.05)
}
div.nav-contents{
    padding: 30px;
    background-color: var(--backgroud-color);
    height: 100vh;
    width: 25vw;
    position: absolute;
    top: -78px;
    right: -600px;
    transition: right 0.3s linear;
    opacity: 0.75;
}
/* Toggle this class */
div.nav-contents.active{
   right: -85px;
}
div.nav-contents ul{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
div.nav-contents ul li{
    list-style: none;
}
div.nav-contents ul li a{
    text-decoration: none;
    color: inherit;
    font-size: 40px;
    color: var(--background-color-light)
}
div.nav-contents span{
    position:absolute;
    right:25px;
    top: 10px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}